<style type="text/css">
  
  footer,.page-footer{
    background: #142340;
  }

  div.pb-4 > a{
    color: #fff !important;
  }

  div.pt-4 > a{
    color: #fff !important;
  }

</style>

{% load staticfiles %}


<footer id="footer" class="page-footer text-center font-small mt-4 wow fadeIn" style="background: #000021 !important;">
    <!--Footer Links--><br>
  <div class="container text-center text-md-left mt-5">
    <div class="row mt-3">
      <!--First column-->
      <div class="col-md-4 ">
        <h5 class="font-weight-bold">
          <strong>Who We Are</strong>
        </h5>
        <hr class="info-color mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
       <p>Nanotrix Edutech was born out of a desire to fill a need in education, a need to provide a true, comprehensive technology education in a fun, stress-free environment. We seeks to bring creativity and innovation in science and technology in Nigeria. We offer training, mentoring and coaching to young people in: Robotics, Electronics and Computer Programming.
        .</p>
        
    
      </div>
      <!--/.First column-->
      <!--Second column-->
      <div class="col-md-2">
        <h5 class="font-weight-bold">
          <strong>Social Media</strong>
        </h5>
        <hr class="info-color mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
        <p>
          <ul>
            <li>
              <a href="https://www.facebook.com/nanotrixedutech/?ref=page_internal" class="nav-link"  target="_blank">
              <i class="fa fa-facebook"></i>
              </a>
            </li>   
            <li>
              <a href=" https://twitter.com/NanotrixEdutech" class="nav-link" target="_blank">
              <i class="fa fa-twitter"></i>
              </a>
            </li>
            <li>
              <a href="https://www.instagram.com/nanotrix_edu" class="nav-link"
              target="_blank">
              <i class="fa fa-instagram mr-2"></i>
              </a>
            </li>
          </ul>
        </p>
       
        
      </div>
      <!--/.Second column-->
   
      <div class="col-md-3 ">
        <h5 class="font-weight-bold">
          <strong>Educational Partners</strong>
        </h5>
        <hr class="info-color mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
        <p>
         <ul>
            <li>Deeper Life High School, Portharcourt</li>
            <li>Bishop Okoye Spiritan Secondary School</li>
            <li>Catoky International</li>
            <li>Cita High School</li>
            <li>Kharece International Schools</li>
            <li>Shell Club Port-Harcourt</li>
        </p>
       
        
      </div>
      <!--/.Third column-->
      <!--Fourth column-->
      <div class="col-md-3">
        <h5 class="font-weight-bold">
          <strong>Contact Us</strong>
        </h5>
        <hr class="info-color mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
        
        <p>
              <span class="hq">Office Address</span>
              <address>
                <ul class="location">
                  <li> <i class="fa fa-map-marker"></i> &nbsp;Suite 13 Nawfia Plaza opposite Omega House, Rumuodara Port-Harcourt</li>
                </ul> 
                <div class="clearfix"> </div>
                <ul class="location">
                  <li><i class="fa fa-phone-square"></i> &nbsp;09055655449,&nbsp; 08180053658 </li>
                </ul> 
                <div class="clearfix"> </div>
                <ul class="location">
                 
                  <li><i class="fa fa-envelope-open"></i> &nbsp;<a href="mailto:info@example.com">nanotrixedutech@gmail.com</a></li>
                </ul>           
              </address>
        </p>
        
      </div>
      <!--/.Fourth column-->
    </div>
  </div>
  <!--/.Footer Links-->
  <!-- Copyright-->
  <div class="footer-copyright py-3 text-center">
    © 2018 Copyright:
    <a href="https://www.nanotrixedu.com">
      <strong> Nanotrix Edutech</strong>
    </a>
  </div>
  <!--/.Copyright -->
</footer>